<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/admin.css" />
    <title> Admin - Login </title>
</head>

<body>
    <div class="container">
        <h1 id="M"> Login </h1>
        <form action="/admin/login" method="post" name="loginform">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button type="submit"> Login </button>
    </div>
</body>
</html>
