<div id="cart_icon"> 
    <div id="icon_image"></div> 
</div>

<script type="text/javascript">
    document.getElementById("cart_icon").onclick = () => {
        location.href = "http://localhost:3000/contact";
    };
</script>

<header>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/description">Service</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</header>